<section class="learn-section">
  <div class="header">
      <h1>
Peey Connect est une plateforme communautaire dédiée à la valorisation et à la solidarité de la communauté lébou du Sénégal. Elle facilite les échanges, la gestion foncière et la préservation culturelle à travers son application mobile.
      </h1>
  </div>
  
  <div class="content-sections">
      <!-- <div class="what-we-do">
          <h2>{{sections[0].title}}</h2>
      </div> -->
      
      <!-- <div class="content-blocks">
          <div class="insights-block">
              <div class="category-label">{{sections[0].category}}</div>
              <div class="content-wrapper">
                  <h3>{{sections[0].heading}}</h3>
                  <div class="description-box">
                      <p>{{sections[0].description}}</p>
                      <a href="#" class="explore-link">{{sections[0].link}}</a>
                  </div>
              </div>
          </div>
          
          <div class="services-block">
              <div class="category-label">{{sections[1].category}}</div>
              <div class="content-wrapper">
                  <h3>{{sections[1].title}}</h3>
                  <div class="description-box">
                      <ul>
                          <li *ngFor="let service of sections[1].services">
                              - {{service}}
                          </li>
                      </ul>
                      <a href="#" class="explore-link">{{sections[1].link}}</a>
                  </div>
              </div>
          </div>
          <div class="insights-block">
              <div class="category-label">Carrières</div>
              <div class="content-wrapper">
                  <h3>Rejoignez-nous</h3>
                  <div class="description-box">
                      <p>Nous ne réalisons pas seulement le potentiel de l'immobilier. Nous vous aidons à réaliser votre potentiel.</p>
                      <a href="#" class="explore-link">Explorer les carrières</a>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
</section>